:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-neutral-very-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-grayish-blue: hsl(229, 6%, 66%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
  --font-body: Poppins, sans-serif;
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-size-base: 0.9375rem;
  --font-size-h1: 1.75rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --spacing-unit: 1rem;
}

.feature-card {
  --card-border-top-width: 4px;
  background: white;
  padding: var(--spacing-unit);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}
.feature-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--card-border-top-width);
  width: 100%;
}
.feature-card--supervisor::before {
  background: var(--color-primary-cyan);
}
.feature-card--team-builder::before {
  background: var(--color-primary-red);
}
.feature-card--karma::before {
  background: var(--color-primary-orange);
}
.feature-card--calculator::before {
  background: var(--color-primary-blue);
}
.feature-card__title {
  font-size: var(--font-size-h3);
  color: var(--color-neutral-very-dark-blue);
  margin-bottom: 0.5em;
}
.feature-card__description {
  color: var(--color-neutral-grayish-blue);
  font-size: var(--font-size-base);
  margin-bottom: 2em;
}
.feature-card__icon {
  display: block;
  margin-left: auto;
  width: 64px;
  height: 64px;
}

.site-header {
  text-align: center;
  max-width: 53ch;
  margin-inline: auto;
  margin-bottom: calc(var(--spacing-unit) * 4);
}
.site-header__title {
  font-size: var(--font-size-h2);
  color: var(--color-neutral-very-dark-blue);
}
.site-header__title span {
  display: block;
  font-weight: var(--font-weight-light);
}
.site-header__description {
  margin-top: var(--spacing-unit);
  color: var(--color-neutral-grayish-blue);
}

.feature-grid {
  --gap: 2rem;
  display: grid;
  gap: var(--gap);
  width: min(100%, 69.375rem);
  margin-inline: auto;
}
@media (min-width: 48em) {
  .feature-grid {
    grid-template-columns: repeat(3, 5fr);
    grid-template-rows: repeat(4, auto);
    align-items: center;
  }
  .feature-grid .feature-card--supervisor {
    grid-column: 1;
    grid-row: 2/4;
  }
  .feature-grid .feature-card--team-builder {
    grid-column: 2;
    grid-row: 1/3;
  }
  .feature-grid .feature-card--karma {
    grid-column: 2;
    grid-row: 3/5;
  }
  .feature-grid .feature-card--calculator {
    grid-column: 3;
    grid-row: 2/4;
  }
}

.feature-card {
  --card-border-top-width: 4px;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  max-width: 100%;
  margin-inline: auto;
}
.feature-card__title {
  font-size: var(--font-size-h3);
  color: var(--color-neutral-very-dark-blue);
  margin-bottom: 0.5em;
  font-weight: var(--font-weight-semibold);
}
.feature-card__description {
  font-size: var(--font-size-base);
  color: var(--color-neutral-grayish-blue);
  line-height: 1.3;
  margin-bottom: 2.5em;
}
.feature-card__icon {
  display: block;
  margin-left: auto;
  width: 64px;
  height: 64px;
}

.wrapper {
  width: min(100% - 2rem, var(--wrapper-max-width, 69.375rem));
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-space, var(--spacing-unit));
}

.text-center {
  text-align: center;
}

.text-very-dark-blue {
  color: var(--color-neutral-very-dark-blue);
}

.text-grayish-blue {
  color: var(--color-neutral-grayish-blue);
}

.fw-light {
  font-weight: var(--font-weight-light);
}

.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-semibold {
  font-weight: var(--font-weight-semibold);
}

.margin-top-lg {
  margin-top: calc(var(--spacing-unit) * 2);
}

.padding-lg {
  padding: calc(var(--spacing-unit) * 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: 1.5;
  background: var(--color-neutral-very-light-gray);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: var(--spacing-unit);
}

/*# sourceMappingURL=style.css.map */
