$fonts: (
  'body': ('Poppins', sans-serif)
);

$font-weights: (
  'light': 200,
  'regular': 400,
  'semibold': 600
);

$font-sizes: (
  'base': 0.9375rem, // 15px
  'h1': 1.75rem,     // 28px
  'h2': 1.5rem,      // 24px
  'h3': 1.25rem      // 20px
);
