feature-card {
    --card-border-top-width: 4px;
    background: white;
    padding: var(--spacing-unit);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: var(--card-border-top-width);
    }
  
    &--supervisor::before { background: var(--color-primary-cyan); }
    &--team-builder::before { background: var(--color-primary-red); }
    &--karma::before { background: var(--color-primary-orange); }
    &--calculator::before { background: var(--color-primary-blue); }
  
    &__title {
      font-size: var(--font-size-h3);
      color: var(--color-neutral-very-dark-blue);
      margin-bottom: 0.5em;
    }
  
    &__description {
      color: var(--color-neutral-grayish-blue);
      font-size: var(--font-size-base);
      margin-bottom: 2em;
    }
  
    &__icon {
      display: block;
      margin-left: auto;
      width: 64px;
      height: 64px;
    }
  }